<div class="container-fluid">
    <div class="row">
        <div class="cold-md-10 text-center">
        <footer role="contentinfo">
            <p>
                <small>
                    Copyright &copy; Frederico Bezerra 
                </small>
            </p>
        </footer>
        </div>
    </div>
</div>