<h1>Listing all projects</h1>

<%= link_to "New Project", new_project_path, class: "btn btn-default btn-lg" , id:"new-project-btn" %>

<% @projects.each do |project| %>

    <div class="well well-lg">
        <div class="project-title">
            <%= link_to project.name , project_path(project) %>
        </div>
        <div class="project-description">
            <%= truncate(project.description,length: 500) %>
        </div>
        <div class="owner">
            <% if project.user%>
                <small>Owner: <%= project.user.email %> </small>
            <%end%>
        </div>
    </div>

<% end %>