<h1> New Project</h1>

<%= bootstrap_form_for(@project) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :description , label: "Simple description" %>
  <%= f.submit "Create Project"  , class:"btn btn-primary btn-block"%>
<% end %>