@import "bootstrap-sprockets";
@import "bootstrap";

.container {
    padding-top:20px;
    padding-bottom:20px;
}

.alert-custom{
    padding-top:30px;
}

.container-customized{
    padding-top:40px;
}