@import "bootstrap-sprockets";
@import "bootstrap";

.container {
    padding-top:20px;
    padding-bottom:20px;
}

.alert-custom{
    padding-top:30px;
}

.container-customized{
    padding-top:40px;
}

.project-title , .project-description{
    padding-left: 0.7em;
    
}



.project-title{
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 0.8em;
    
}


.project-description{
    
    font-size: 1.5em;
}

#new-project-btn{
    margin-bottom: 20px;
}

.project-details-title{
    font-size : 4em;
    margin-bottom: 40px;
    
}

#project-date{
    margin-bottom: 40px;
    
}

.btn-space{
    margin-top: 20px;
}